.p-outer{
    /* margin-top: 50px; */
    height: 600px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-image:  linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);

    @media screen and (max-width:450px) {
        /* flex-wrap: wrap; */
        flex-direction: column;
        height:fit-content;
        justify-content:start;
        padding: 10px;
    }

    @media screen and (min-width:451px) and (max-width:800px) {
        justify-content:  space-between;
        padding: 10px;

    }

}



.form-outer{
    padding: 30px;
    border: 2px solid black;
    width: 500px;
    height: 80%;
    border-radius: 15px;
    background-color: black;
    color: white;

    @media screen and (max-width:450px) {
       padding: 5px;
       width: 100%;
       height: 50%; 
       margin-bottom: 20px;
    }

    @media screen and (min-width:451px) and (max-width:800px) {
        width: 50%;
        padding: 10px;
    }
}

.form-heading{
    text-align: center;
    color: red;
    font-size: 30px;
    font-weight: 900;

    @media screen and (max-width:450px) {
        font-size: 20px;
    }

}

.get-data{
    @media screen and (max-width:450px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.info-box{
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width:450px) {
        font-size: 15px;
        width: 300px;
    }

    @media screen and (min-width:451px) and (max-width:800px) {
        width: 95%;
    }
    
}

.in-box{
    padding: 10px;
    height: 20px;
    margin-left: 20px;
    width: 100%;
    @media screen and (max-width:450px) {
        padding:5px;
    }
}

.profile-btn{
    cursor:pointer;
    color: white;
    padding: 20px;
    width: 150px;
    border-radius: 30px;
    border: none;
    background-image:  linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);

}

.p2{
    padding-top: 10px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 25px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:450px) {
        width: 100%;
    }

    @media screen and (min-width:451px) and (max-width:800px) {
        width: 45%;
    }
}
.photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    height: 100px;
    width: 300px;
    border-radius: 30px;
}

.info-disp{
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}