*{
    margin: 0px;
    padding: 0px;
}

.navbar-outer{
    font-weight: 400;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;

    @media screen and (max-width:450px) {
            padding: 10px;
            height: 70px;
    }
}

.navbar-1{
    height: 50px;
    width: 170px;
    background-repeat: no-repeat;
    background-image: url('../../Assets/etrain-logo.png');

    @media (max-width:450px) {
            height: 50px;
            width: 150px;
            background-size: contain;
       
    }

}

/* .navbar-1:hover{
    border: 2px solid black;
} */


.navbar-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    color:black;
    @media screen and (max-width:450px){
        display: none;
    }

}

.navbar-2-show{
    border-radius: 30px;
    display:inline-block;
    color: white;
    height: 300px;
    width: 150px;
    flex-wrap: wrap;
    text-align: center;
    line-height: 26px;
    background-color: rgb(0, 0, 0,0.7);
    z-index: 3;

}
.navbar-2-hidden{
    display: none;
    
    @media screen and (max-width: 450px) {
        /* background-color: rgb(10, 142, 43); */
        height: 40px;
        width: 40px;
        margin-right: 50px;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        /* background-color: aqua; */
        font-size: 30px;
    }
}

.navbar-2-hidden-false{
    height: 40px;
    width: 40px;
    margin-right: 50px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    /* background-color: rgb(255, 0, 55); */
    font-size: 30px;
}


.navbar-btn{
    cursor:pointer;
    color: white;
    padding: 20px;
    width: 150px;
    border-radius: 30px;
    border: none;
    background-image:  linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);

    @media screen and (max-width:450px) {
        padding: 5px;
        width: 100px;
        margin-top: 20px;

    }
}


.navbar-item:hover{
    cursor:pointer;
    color:#ee390f;
    
}

