.outer-Awesome{
    /* padding: 30px; */
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    @media screen and (max-width:450px) {
        /* height: 1000px;  */
        flex-wrap: wrap; 
        margin-bottom: 30px;
    }
}
.Awesome-heading{
    height: 200px;
    font-size: 30px;
    margin-left: 40px;
    color: #2a3c4d ;

    @media screen and (max-width:450px) {
        margin-left: 0px;
    }
}
.Awesome-paragraph{
   margin-top: 20px;
    color: #2a3c4d ;
    font-size: 16px;
}
.button-read-more{
    margin-top: 100px;
    margin-left: 40px;
    border:none;
    background:linear-gradient(to right,red,yellow);
    border-radius: 20px;
    width:200px;
    height:50px;
    color:white;
    text-align: center;

    @media screen and (max-width:450px) {
        margin-top: 20px;
        
    }
}

.cards{
    height: 340px;
    display:flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: 60px;
    color: #2a3c4d ;

    @media screen and (max-width:450px) {
        flex-wrap: wrap;
        height: 430;
    }
}

.Better-future{

    padding: 20px;
    height: 340px;
    width:270px;

    @media screen and (max-width:450px) {
        text-align: center;
        padding: 0px;
        height: 150px;
        margin-left: 10px;
    }
}
.Qualified-Trainers{
    width:230px;
    margin-left: 40px;
}
.Job-Opportunity{
  
    width:230px;
    height: 50px;
    margin-left: 40px;
   
}
.outer-Awesome{
    display: inline-flex;
}

.Better-future:hover{
    border:1px solid red;
    
    /* margin-left: 30px; */
}
.Qualified-Trainers:hover{
    border:1px solid red;
    height: 250px;
    margin-left: 40px;
}
.Job-Opportunity:hover{
    border:1px solid red;
    height: 250px;
 

}