.outer {
    height: 50px;
    margin-right: 10px;
    padding: 20px 20px 20px 20px;
    display: flex;
    float: right;
    gap: 40px;
    margin-top: -65px;
    color: #2a3c4d;
    background-image: url(../images/banner_bg.png);
    /* background-si; */
    
    background-size: cover;
    /* Adjust the background size property */
    background-repeat: no-repeat;
    /* background-position: center; */
}

.nav-button {
    margin-top: -5px;
    width: 150px;
    height: 45px;
    border-radius: 20px;
    background: linear-gradient(to right, red, yellow);
    border: none;
    color: white;
}

.logo {
    margin-left: 40px;
    margin-top: 30px;
}